<div class="site-footer">
	<div class="footer-text">
    Static Made is written and produced with love in the City of Champions. <br />All content <a href="http://creativecommons.org/licenses/by-nc/4.0/">BY-NC 4.0</a>. Some Rights Reserved.</div>
</div>