<div class="site-footer">
	<div class="footer-text">
    Static Made is written and produced with &hearts; in the City of Champions. <br />All media <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>. Some Rights Reserved.</div>
</div>