<div class="site-footer">
	<div class="footer-text">
	  <div class="search">
    	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    	<script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    	<form style="text-align:center">
    	<input id="search-field" placeholder="Type + enter to search" />
    	<input type="submit" value="search" style="visibility: hidden;">
    	</form>
    	<section id="results" style="text-align:center"></section>
    	<script>
    	$("#search-field").ghostHunter({
        	results   : "#results"
        });
    	</script>
    </div>
    
    Static Made is written and produced with love in the City of Champions. <br />All content <a href="http://creativecommons.org/licenses/by-nc/4.0/">BY-NC 4.0</a>. Some Rights Reserved.</div>
</div>