<header class="sidebar-header">

    <div class="first">
        <div class="header-content">
            <a class="blog-title" href="{{@blog.url}}" title="{{@blog.title}}">
                {{@blog.title}}
                <span class="byline">{{@blog.description}}</span>
            </a>
            <div class="social-icons">
				<a href="http://twitter.com/StaticMade" title="@StaticMade">&#x6b;</a>
				<a href="https://instagram.com/staticmade/" title="Instagram">c</a>
				<a href="http://feedpress.me/StaticMade" title="RSS Feed">&#x76;</a>
				<a href="mailto:jeffrey@staticmade.com" title="Contact">i</a>
				
            </div>
        </div>
    </div>

    <div class="second">
        <a class="expander" title="Show menu">
        	<div class="expand"><span class="icon"></span>Menu</div>
        	<div class="collapse"><span class="icon collapse"></span>Collapse</div>
        </a>
		
        <ul class="main-menu">
                <li class="menu-item">
                    <a href="/about">About</a>
                </li>
                <li class="menu-item">
                    <a href="/">Journal</a>
                </li>
                </li>
                <li class="menu-item">
                    <a href="/projects">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="/speaking">Speaking</a>
                </li>
                <li class="menu-item">
                    <a href="http://flechett.es">Fléchettes</a>
                </li>
                <li class="menu-item">
                    <a href="/feeds">Feeds</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="st-search-launcher">Search</a>
                </li>
				
        </ul>
        
        
    </div>

</header>